body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

h2 {
    text-align: center;
    padding: 20px;
    color: #333;
}

p {
    text-align: justify;
    color: #333;
}

.chart-container {
    /* width: 80%; */
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.scatter-description {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    padding: 20px;
    color: #333;
}

.tech-logo {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

.nav-link-active {
    background-color: #007bff;
    color: white !important;
}

.form-group-search {
    margin-right: 20px;
}

/* Añadido: Estilos para el selector de años */
.year-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#yearSelector {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 1rem;
    color: #495057;
}
